{% extends "layout.html" %}

{% block title %} <title>Innskraning</title> {% endblock %}

{% block content %}
<header>
   <h1>Gagnagrunnur gullvagnsins</h1> 
</header>

<h2>Skraðu þér inn til að fá aðgang að gagnagruninum</h2>
<form action="/login" method="POST">
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required="">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required="">    
        <button type="submit">Login</button>
    </div>
</form>



{% endblock %}

